.input {
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
  }
  
  .input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
  }
  
  .input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
  }
  
  .input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
  }
  
  .input_submit:hover {
    background-color: #388ae2;
  }
  
  .input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
  }
  
  .container {
    width: 95%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .user {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
  }
  
  .user_heading {
    font-size: 30px;
    /* text-align: center; */
    color: white;
  }
  
  .user_single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
    transition: 0.2s;
  }
  
  .user_single:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
  }
  
  .user_single-text {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 20px;
  }
  .user_single-email {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 20px;
  }
  
  .user_single-text:focus {
    outline: none;
  }
  
  .icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  
  @media (max-width: 1100px) {
    .users{
      width: 45%;
    }
  }
  
  @media (max-width: 700px) {
    .input {
      width: 95%;
    }
    .container {
      width: 95%;
      flex-direction: column;
    }
    .users {
      width: 95%;
      margin-bottom: 10px;
    }
  }